body {
    margin: 20px;
}

header {
    margin-left: 10px;
}

.equalWidth {
    width: 50% !important;
}

h1 {
    font-size: 28px;
    
}

#menu {
    margin-bottom: 25px;
}
#menu a:visited {
    cursor: default;
    pointer-events: none;
}

#QTo:focus {
    cursor: default;
    border-color: #d1d1d1;
}

#QTo:hover {
    cursor: default;
}
