{% extends "base.html" %}

{% block title %} CRIPTOS {% endblock %}

{% block content %}
    <h1>MOVIMIENTOS</h1>

    <div id='scrollTable'>
        <table class="u-full-width">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Q</th>
                <th>To</th>
                <th>Q</th>
                <th>QPU</th>
            </tr>
            {% if registros|length == 0 %}
            <tr>
                <td>SIN MOVIMIENTOS</td>
            </tr>
            {% endif %}
            {% for mov in registros %}
            <tr>
                <td>{{mov[0]}}</td>
                <td>{{mov[1]}}</td>
                <td>{{mov[2]}}</td>
                <td>{{mov[3]}}</td>
                <td>{{mov[4]}}</td>
                <td>{{mov[5]}}</td>
                <td>{{mov[6]}}</td>
                <td> {{ "%.3f"|format((mov[4])/(mov[6])) }} </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/status"><input type="button" value="Status"></a>
    <a href="/purchase"><input type="button" value="+"></a>

    
{% endblock %}