{% extends "base.html" %}

{% block title %} Purchase {% endblock %}

{% block content %}
<h1>COMPRA DE CRIPTOS</h1>
    
  <form class="container" action="/purchase" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="column">
          <label for="selectFrom">From</label>
          {{ form.froM(class='equalWidth',id='selectFrom') }}
        </div>
        <div class="column">
            <label for="selectTo">To</label>
            {{ form.to(class='equalWidth',id='selectTo') }}
        </div>
    </div> 
    <div class="row">  
      <div class="column" id="divQ">
        <label for="QFrom">Q</label>
        {{ form.QFrom(class='equalWidth',id='QFrom') }}
        {% if form.QFrom.errors %}
                {% for error in form.QFrom.errors %}
                    <p class='field-error'>{{ error }}</p>
                {% endfor %}
        {% endif %}
      </div>
      <div class="column">
        <label for="QTo">Q</label>

        {{ form.QTo(class='equalWidth', id='QTo', readonly="readonly") }}
        {% if form.QTo.errors %}
                {% for error in form.QTo.errors %}
                    <p class='field-error'>{{ error }}</p>
                {% endfor %}
        {% endif %}
      </div>  
    </div>
    <div class="row">
      <div class="column">
        <input type="button" id="buttonFrom" name="buttonFrom" value="Calcular"/>
      </div>
      <div class="column">
        <label for="QPU">P.U.</label>
        {{ form.QPU(class='equalWidth', id='QPU') }}
        {% if form.QPU.errors %}
                {% for error in form.QPU.errors %}
                    <p class='field-error'>{{ error }}</p>
                {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="column column-50 column-offset-50">
          {{ form.submit(id='send', value='OK') }}
          <input type="button" id="cancel" name="cancel"value="Cancel"/> 
        </div>
    </div>
    
  </form>
  <script src="../static/js/base.js"></script>
{% endblock %}