{% extends "base.html" %}

{% block title %} Mis tareas {% endblock %}

{% block content %}
    <div class="row">
        <div class="column column-50 column-offset-33">
            <h1 class="titleStatus">ESTADO DE LA INVERSIÓN</h1>
        </div>
    </div>
    <div class="row">
        <div class="column column-50 column-offset-33">
            <label for="invertido">Inversión:</label>
            {{ form.invertido(class='equalWidth',id='invertido', value=sumaFinal[0]) }}
            {% if form.invertido.errors %}
                {% for error in form.invertido.errors %}
                    <p class='field-error'>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="column column-50 column-offset-33">
            <label for="valorActual">Valor actual:</label>
            {{ form.valorActual(class='equalWidth',id='valorActual', value=sumaFinal[1]) }}
            {% if form.valorActual.errors %}
                {% for error in form.valorActual.errors %}
                    <p class='field-error'>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <h1 class='field-error'>{{ textError }}</h1>
{% endblock %}